{%  extends "TlmalpQrcodePhotoAssociateBundle:Default:layout.html.twig" %}

{% block content %}

    {% if app.session.flashbag.has('error') %}

        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-errors">

            <span>{{ flashMessage }}</span>


        </div>
            <form action="/associate/{{ action }}/{{ qrcode }}/{{ photo }}" method="POST">
                <input type="submit" value="Override!">
            </form>
        {% endfor %}
    {% else %}
        {% if app.session.flashbag.has('success') %}

            {% for flashMessage in app.session.flashbag.get('success') %}

                <div class="alert alert-successes">
                    {{ action }}/{{ qrcode }} a bien été associée à la photo {{ photo }}!!
                </div>
            {%  endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
